/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #323232;
} */

li {
    float: left;
}
/*------------------------------------------------------------------------------------------------------------------*/
.imagelinks{
    background-color: darkgrey; 
    color: white;
    margin: 10px 0 10px 0;
    padding: 2px;
	opacity: 0.95;
	border-style: solid;
    border-color: red;	
}
/*------------------------------------------------------------------------------------------------------------------*/
.welcome {
    background-color: darkgrey; 
    color: white;
    margin: 0px 0 0px 0;
    padding: 2px;
	opacity: 0.95;
	border-style: solid;
    border-color: red;
	position: fixed;
	width: 100%;
	top: 0px;
	right: 0px;
}

/*------------------------------------------------------------------------------------------------------------------*/
/*Top Head*/
.headimage {
    position: absolute;
    left: 20px;

}


/*------------------------------------------------------------------------------------------------------------------*/

.welcome-img{
	background-color: darkgrey;
	color:white;
	padding:20px;
	width:1000px;
	padding-bottom: 50px;
	border-style: solid;
    border-color: red;
	opacity: 0.97;
}



/*------------------------------------------------------------------------------------------------------------------*/

h3 {
    text-shadow: 0 0 3px #0000ff;
}

.img-size {
	height: 200px;
	width: 200px;
}

h4 {
	text-shadow: 0 0 10px #810000;
}

li a {
    display: block;
    color: #a52a2a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

body {
    font-family: "Lato", sans-serif;
}


/*------------------------------------------------------------------------------------------------------------------*/
/* Navigation bar (below) */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
	position: fixed;
	text-align: left;
}

.sidenav a { /*general display */
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{ /*Color when hovwered over*/
    color: #810000;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.navigatebutton
{
    position: fixed;
    top: 191px;
	right: 0px
}
/*------------------------------------------------------------------------------------------------------------------*/

/* Login Form */

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.loginbutton1 {
    background-color: #810000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #810000;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

/*------------------------------------------------------------------------------------------------------------------*/

.logo{
    background-color: lightgrey;
    border: 25px solid #810000;
    padding: 25px;
    margin: 25px;
	float:left;
	width:25%;
	max-width: 200px;	
	max-height: 200px;
}  

.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/*------------------------------------------------------------------------------------------------------------------*/

/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 80%; 
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

/*------------------------------------------------------------------------------------------------------------------*/

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/*------------------------------------------------------------------------------------------------------------------*/

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

/*------------------------------------------------------------------------------------------------------------------*/

.choice {
	opacity: 0.8 ;
	width: 75% ;
	border: 2px solid #ff0000;
}
/*------------------------------------------------------------------------------------------------------------------*/

.socialmedia{
	left: 0px; 
	right: 0px;
	bottom: 0px;
}


/*------------------------------------------------------------------------------------------------------------------*/
.autoshow {
	opacity: 0.9 ;
	width: 80% ;
	border: 2px solid #ff0000;
}

.parisvid {
	opacity: 1 ;
}

/*------------------------------------------------------------------------------------------------------------------*/
/* Example of a Media Query*/
/*------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:675px) {  
  .headimage img {
    display: none;
  }
}
/*------------------------------------------------------------------------------------------------------------------*/
/*Rest of The Media Queries for 675px screen size*/
/*------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:1000px) {  
  .topbord3r {
    display: none;
  }
}

@media screen and (max-width:1000px) {  
  .navigatebutton {
    height: 50px ;
	width: 100px ;
	font: none; 
    top: 100px;
  }
}

@media screen and (max-width:1000px) {  
  .welcome-img {
    height: 85% ;
	width: 85% ;  
  }
}

@media screen and (max-width:1000px) {  
  .imagelinks {
    display: none ;
	}
}

@media screen and (max-width:1000px) {  
  .autoshow {
    display: none ;
	}
   .parisvid {
    display: none ;
   }
}

@media screen and (max-width:1000px) {  
  .welcome {
    height: 100px ;
	}
  .timebutton{
	display: none;  
  }
  .randomspacing {
	display: none;
  }
  .welcomebuttontimed {
	display: none;	
  }
}

/*------------------------------------------------------------------------------------------------------------------*/